@font-face {
    font-family: Roboto-Regular;
    src: url(font/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Bold;
    src: url(font/Roboto-Bold.ttf);
}
@font-face {
    font-family: Robot-lightitalic;
    src: url(font/Roboto-LightItalic.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    
}

body {
    font-family: Roboto-Regular;

}

.header {
    background-color: #1f2937;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    padding: 15px;
}

.header-links {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    gap: 15px;
    padding: 20px;
}

.first-section {
    background-color: #1f2937;
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    justify-content: center;
    padding: 150px;
    gap: 90px;
    
    
}

.hero {
    display: flex;
    flex-flow: column wrap;
    width: 450px;
    
}

.header-title {
    color: #f9faf8;
    font-family: Roboto-Bold;
    font-size: 48px;
    
}

.header-text {
    color: #e5e7eb;
    font-size: 18px;
}

.header-button {
    color: #f9faf8;
    background-color: #3882F6;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    margin-top: 10px;
    box-shadow: 3px 3px 4px #151b24;
}

.img-building {
    max-width: 400px;
    height: auto;
    flex: 1;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    border-style: none;
}

.second-section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    
}

.headline {
    font-size: 36px;
    font-family: Roboto-Bold;
    padding: 50px;
}

img {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    border: 5px solid #1f2937 ;
}

.img-and-text-wrapper {
    display: flex;
    gap: 40px;
    padding-bottom: 100px;
    justify-content: space-around;
}

.img-wrapper {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    width: 200px;
    gap: 10px;
    color: rgb(93, 93, 93);
}

.third-section {
    background-color: #e5e7eb;
    display: flex;
    justify-content: space-around;
    
}

.quote-wrapper {
    max-width: 800px;
    padding: 130px;
    display: flex;
    flex-flow: column wrap;
    
}
.quote {
    font-family: Robot-lightitalic;
    font-size: 36px;
}

.author {
    margin-left: auto;
    font-weight: bold;
    padding-top: 5px;
}

.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 150px 100px 150px;

}

.box-wrapper {
    background-color: #3882F6;
    padding: 35px 40px 35px 40px;
    border-radius: 8px;
    display: flex;
    width: 1000px;
    justify-content: space-around;
    
}

.box-headline {
    color: #f9faf8;
    font-family: Roboto-Bold;
    font-size: large;
}

.box-text {
    color: #cacbc9;
}

.box-button {
    color: #f9faf8;
    background-color: #3882F6;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    margin-top: 10px;
    border: 2px solid white;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf890;
    padding: 30px;
    font-size: small;
}

